@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #dc7a7d;
}

body {
  margin: 0 auto;
  background-color: #121212;
  font-family: ambroise-firmin-std, YuMincho, 'Yu Mincho', serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  text-rendering: optimizelegibility;
}

.arrow {
  position: absolute;
  right: 0;
  bottom: -30vh;
  display: inline-block;
  width: 10px;
  padding: 0;
  color: var(--primary);
  font-size: 15px;
  text-decoration: none;
  vertical-align: middle;
}

.arrow::before,
.arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: '';
  vertical-align: middle;
}

.down::before {
  top: -53px;
  left: -25px;
  width: 60px;
  height: 1px;
  background: var(--primary);
  transform: rotate(90deg);
}

.down::after {
  left: 2px;
  width: 6px;
  height: 6px;
  border-top: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  transform: rotate(135deg);
}

.noise-overlay {
  position: fixed;
  z-index: 99;
  top: -100%;
  left: -50%;
  width: 300%;
  height: 300%;
  animation: grain 8s steps(10) infinite;
  background-image: url('/images/nosie_cover.png');
  opacity: 0.1;
  pointer-events: none;
}

.marquee-child {
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

[data-scroll='child-first'] {
  animation-name: first;
}
[data-scroll='child-second'] {
  animation-name: second;
}

.marquee-right:nth-child(odd) {
  flex: 0 0 auto;
  animation: loop 30s -15s linear infinite;
}

.marquee-right:nth-child(even) {
  flex: 0 0 auto;
  animation: loop2 30s linear infinite;
}

.marquee-left:nth-child(odd) {
  flex: 0 0 auto;
  animation: loopLeft 30s -15s linear infinite;
}

.marquee-left:nth-child(even) {
  flex: 0 0 auto;
  animation: loopLeft2 30s linear infinite;
}

.flow-arm {
  animation: flow-arm 2s linear infinite;
}

.hidden-cover {
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.hidden-cover.is-hidden {
  animation-name: height;
}

.here {
  transform-origin: center bottom;
  animation: yurayura 2s linear infinite;
}

.fade-in {
  animation-name: fadeInAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fade-right {
  animation-name: fadeRightAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.set-gutter-stable {
  overflow: auto;
  scrollbar-gutter: stable;
}
