@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #dc7a7d;
}

body {
  margin: 0 auto;
  background-color: #121212;
  font-family: ambroise-firmin-std, YuMincho, 'Yu Mincho', serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  text-rendering: optimizelegibility;
}

.arrow {
  position: absolute;
  right: 0;
  bottom: -30vh;
  display: inline-block;
  width: 10px;
  padding: 0;
  color: var(--primary);
  font-size: 15px;
  text-decoration: none;
  vertical-align: middle;
}

.arrow::before,
.arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: '';
  vertical-align: middle;
}

.down::before {
  top: -53px;
  left: -25px;
  width: 60px;
  height: 1px;
  background: var(--primary);
  transform: rotate(90deg);
}

.down::after {
  left: 2px;
  width: 6px;
  height: 6px;
  border-top: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  transform: rotate(135deg);
}

.noise-overlay {
  position: fixed;
  z-index: 99;
  top: -100%;
  left: -50%;
  width: 300%;
  height: 300%;
  animation: grain 8s steps(10) infinite;
  background-image: url('/images/nosie_cover.png');
  opacity: 0.1;
  pointer-events: none;
}

.marquee-child {
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

[data-scroll='child-first'] {
  animation-name: first;
}
[data-scroll='child-second'] {
  animation-name: second;
}

.flow-arm {
  animation: flow-arm 2s linear infinite;
}

@keyframes first {
  from {
    left: 0%;
  }
  to {
    left: -134%;
  }
}

@keyframes second {
  from {
    left: 134%;
  }
  to {
    left: 0%;
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-8%, 5%);
  }

  30% {
    transform: translate(7%, -15%);
  }

  40% {
    transform: translate(-5%, 15%);
  }

  50% {
    transform: translate(-8%, 10%);
  }

  60% {
    transform: translate(8%, 0%);
  }

  70% {
    transform: translate(0%, 8%);
  }

  80% {
    transform: translate(3%, 20%);
  }

  90% {
    transform: translate(-8%, 8%);
  }
}

@keyframes flow-arm {
  0% {
    transform: translateY(-6px);
  }
  20% {
    transform: translateY(40px);
  }
  80% {
    transform: translateY(52px);
  }
  100% {
    transform: translateY(-6px);
  }
}
